<div class="container-fluid">
  <div class="jumbotron">
      <table>
          <tr>
            <th>Ticket type</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
              <th>Place</th>
            <th colspan="2"></th>
          </tr>
          <tr>
            <td><%= @ticket.etype %> </td> 
            <td><%= @ticket.name %> </td>
            <td><%= @ticket.price %> </td>
            <td><%= @ticket.quantity %> </td> 
            <td><%= @ticket.place_id %> </td>
          </tr>
     </table>

     <%= button_to 'Confirm', {:controller => "tickets", :action => "create", ticket: { name: @ticket.name, user_id: current_user.id, event_id: 2, status:'d',order_data: Date.today}, :ticket_id=> session[:id]} , {:method=>:post}  %>


      
  </div>
  <div class="jumbotron">
    <h2>History</h2>
      <table>
          <% @histories.each do |history| %>
            <tr>
              <td><%= history.id %> </td> 
                <td><%= history.name %></td>
                <td><%= history.user_id %></td>
                <td><%= history.order_data %></td>
                <td><%= history.event_id %></td>
                <td><%= history.status %></td>
            </tr>
          <% end %>
      </table>
  </div>
</div>
